<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <link rel="stylesheet" type="text/css" href="static/styles/styles.css">
</head>
<body>
        <div align="center">
            <div align="center" class="border">
                <div class="header">
                    <h1 class="word">Registration</h1>
                </div>
                <h2 class="word">
                    <form action="/register" method="POST">
                        <div class="msg">{{msg}}</div>
                        <input id="username" name="username" type="text" placeholder="Enter you Username" class="textbox">
                        <br><br>
                        <input id="password" name="password" type="password" placeholder="Enter your Password" class="textbox">
                        <br><br>
                        <input id="email" name="email" type="text" placeholder="Enter Your Email" class="textbox">
                        <input type="submit" value="Register" class="btn">
                    </form>
                </h2>
                <p class="bottom">Don't have an accont? <a class="bottom" href="/login">Sign in here</a></p>
            </div>
        </div>
</body>
</html>